table{
    height: 300px;
    width: 100%;
    border-collapse: collapse;

}

th,td{
    border-bottom: 1px solid black;
}
th{
    background-color: #7b00ff;
}
.heading1{
    color: #73ff00;
}
tr:hover{
    background-color: #da70bc;
}
tr:nth-child(even){
    background-color: rebeccapurple;
}